In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\rmsgh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (2.0.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\rmsgh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\rmsgh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rmsgh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\rmsgh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.25.1)
Requirement already satisfied: six>=1.5 in c:\users\rmsgh\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: C:\Users\rmsgh\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
df = pd.read_csv('data/greenhouse_gases.csv')
df.head()

         date     co2      ch4     n2o   sf6
0  2001-01-01  370.68  1772.86  316.30  4.69
1  2001-02-01  371.18  1772.50  316.31  4.71
2  2001-03-01  371.59  1773.63  316.21  4.73
3  2001-04-01  371.90  1773.84  316.12  4.75
4  2001-05-01  371.80  1770.73  316.11  4.76

In [2]:
co2, ch4, n2o, sf6 = df['co2'], df['ch4'], df['n2o'], df['sf6']

In [3]:
date = []

for i in range(len(df['date']) * 4):
    str = df['date'][i // 4].split('-')
    date.append(str[0] + '-' + str[1])
print(len(date))

1028

In [4]:
result = []
for i in range(len(date)):
    if i % 4 == 0:
        result.append(co2[i // 4])
    elif i % 4 == 1:
        result.append(ch4[i // 4])
    elif i % 4 == 2:
        result.append(n2o[i // 4])
    elif i % 4 == 3:
        result.append(sf6[i // 4])
print(len(result))

1028

In [5]:
label = []
for i in range(len(date)):
    if i % 4 == 0:
        label.append("CO2")
    elif i % 4 == 1:
        label.append("CH4")
    elif i % 4 == 2:
        label.append("N2O")
    elif i % 4 == 3:
        label.append("SF6")
print(len(label))

1028

In [6]:
data = pd.DataFrame(
    {
        'month' : date,
        'category' : label,
        'value' : result
    }
)
data.head()

     month category    value
0  2001-01      CO2   370.68
1  2001-01      CH4  1772.86
2  2001-01      N2O   316.30
3  2001-01      SF6     4.69
4  2001-02      CO2   371.18

In [7]:
data.to_csv('data/Greenhouse_Gas_Month.csv', sep=',', index=False)